.game-container {
    position: relative;
    width: 90%;
    height: 80%;
    outline: 1px solid #fff;
    margin: 0 auto;
    align-items: center;
}

.game-container canvas {
    image-rendering: pixelated;
    width: 70%;
    height: 60%;
    transform: scale(1.5);
    position: absolute;
    align-items: center;
    justify-content: center;
}